In [2]:
import pandas as pd
df = pd.read_excel("premiums.xlsx")
df.head()

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
0,26,Male,Northwest,Unmarried,0,Normal,No Smoking,Salaried,<10L,6,Diabetes,Bronze,9053
1,29,Female,Southeast,Married,2,Obesity,Regular,Salaried,<10L,6,Diabetes,Bronze,16339
2,49,Female,Northeast,Married,2,Normal,No Smoking,Self-Employed,10L - 25L,20,High blood pressure,Silver,18164
3,30,Female,Southeast,Married,3,Normal,No Smoking,Salaried,> 40L,77,No Disease,Gold,20303
4,18,Male,Northeast,Unmarried,0,Overweight,Regular,Self-Employed,> 40L,99,High blood pressure,Silver,13365

In [3]:
df.shape

(50000, 13)

In [4]:
df.Age.describe()

count    50000.000000
mean        34.593480
std         15.000437
min         18.000000
25%         22.000000
50%         31.000000
75%         45.000000
max        356.000000
Name: Age, dtype: float64

In [5]:
df_young = df[df.Age<=25]
df_rest = df[df.Age>25]

In [6]:
df_young.shape, df_rest.shape

((20096, 13), (29904, 13))

In [7]:
df_young.to_excel("premiums_young.xlsx", index=False)
df_rest.to_excel("premiums_rest.xlsx", index=False)

In [2]:
import pandas as pd
df = pd.read_excel("premiums_with_gr.xlsx")
df.head(2)

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount,Genetical_Risk
0,26,Male,Northwest,Unmarried,0,Normal,No Smoking,Salaried,<10L,6,Diabetes,Bronze,9053,5
1,29,Female,Southeast,Married,2,Obesity,Regular,Salaried,<10L,6,Diabetes,Bronze,16339,0

In [17]:
df_young = df[df.Age<=25]
df_rest = df[df.Age>25]

df_young.shape, df_rest.shape

((20096, 14), (29904, 14))

In [18]:
df_young.to_excel("premiums_young_with_gr.xlsx", index=False)
df_rest.to_excel("premiums_rest_with_gr.xlsx", index=False)